@page "/store/software/"
@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@implements IDisposable
@attribute [Authorize]

<StoreIndex />
@if (ProductSoftwares == null)
{
	<div class="alert alert-info">Loading Software Products...</div>
}
else
{
	<div class="row p-5">
		@foreach (var productsoftware in ProductSoftwares)
		{
			<div class="col-md-3 mb-3">
				<div class="card h-100">
					<a class="card-body" style="box-shadow: 0 0 15px rgba(26, 188, 156, 0.5);" href="/store/software/@productsoftware.Id">
						<div style ="text-align:center">
							@if(productsoftware.sthumbnail != null)
							{
								existingImageData = Convert.ToBase64String(productsoftware.sthumbnail);
								<img src="@("data:image/png;base64," + existingImageData)" alt="image" />
							}
							else
							{
								<img width=79% src ="images/Image_not_available.png" class="img-fluid" alt="" />
							}
						</div>
						<hr>
						<h5 class="card-title">@productsoftware.sTitle</h5>
						<p>$@productsoftware.sPrice</p>
					</a>
				</div>
			</div>
		}
	</div>
}
@code {
	private List<ProductSoftware>? ProductSoftwares;
	private string existingImageData;

	protected async override Task OnInitializedAsync()
	{
		_interceptor.MonitorEvent();
		ProductSoftwares = await _client.GetFromJsonAsync<List<ProductSoftware>>($"{Endpoints.ProductSoftwaresEndpoint}");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
