@page "/store/"
@inject NavigationManager _navManager

<h3>Store</h3>

<div>
	<nav>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/store/software" Match="NavLinkMatch.All">
                Software
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="store/hardware" Match="NavLinkMatch.All">
                Hardware
            </NavLink>
        </div>
	</nav>
</div>

@code {
    protected override void OnInitialized()
    {
        if (_navManager.Uri.EndsWith("/store/"))
        {
            _navManager.NavigateTo("/store/software");
        }
    }
}
