@page "/store/"
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<p style="padding-top:1rem; background-color:#1ABC9C; color: white; " class="text-center"><b>Select Category</b></p>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <!-- First Div -->
            <div class="text-center">
                <NavLink class="btn btn-xl btn-outline-store" href="/store/software" Match="NavLinkMatch.All">
                    Software
                </NavLink>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Second Div -->
            <div class="text-center">
               <NavLink class="btn btn-xl btn-outline-store" href="store/hardware" Match="NavLinkMatch.All">
                Hardware
               </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _interceptor.MonitorEvent();
        if (_navManager.Uri.EndsWith("/store/"))
        {
            _navManager.NavigateTo("/store/software");
        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
