.header {
    padding:0px;
    background-image: url('/images/headerimg.jpg');
    background-size: contain; /* This will make the image fit within the container without cropping */
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:400px;
}
