@page "/productsoftwares/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Edit Software Product</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditProductSoftware" productSoftware="productSoftware" />

@code {

	[Parameter] public int id { get; set; }
	ProductSoftware? productSoftware = new ProductSoftware();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		productSoftware = await _client.GetFromJsonAsync<ProductSoftware>($"{Endpoints.ProductSoftwaresEndpoint}/{id}");
	}

	async Task EditProductSoftware()
	{
		await _client.PutAsJsonAsync($"{Endpoints.ProductSoftwaresEndpoint}/{id}", productSoftware);
		_navManager.NavigateTo("/productsoftwares/");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
