@inherits LayoutComponentBase

<div class="page">
    @*<div>  class="sidebar"
        <NavMenu />
    </div> *@

     <main>
        <article class="content px-4" style="padding: 0 !important">

            @Body
        </article>
    </main>

</div>
