@inject NavigationManager Navigation

<div class="navdiv">
    <p class="logo">ARCADEZ LOGO</p>
    <nav>
        <ul class="navlinks">
            <li><a href="store">Store</a></li>
            <li><a href="/distribution">Distribution</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <a href="#"><button>Cart</button></a>
</div>


@* <div class="">
    <p class="col">ARCADEZ LOGO</p>
    <nav class="container-fluid col">
        <ul class="row align-items-center">
            <li class="col"><a href="#">Store</a></li>
            <li class="col"><a href="#">Distribution</a></li>
            <li class="col"><a href="#">Community</a></li>
            <li class="col"><a href="#">Support</a></li>
            <li class="col"><a href="#">About</a></li>
        </ul>
</nav>  
    <a class="col" style="float:right;" href="#"><button>Cart</button></a>
</div> *@
@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ArcadeZ</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Store
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Distribution
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Community
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Support
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}
*@