@page "/custEnquiries/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Customer Enquiry</h3>
<hr />
<br />

<FormComponent ButtonText="Create Enquiry" OnValidSubmit="CreateCustEnquiry" custEnquiry="custEnquiry" />

@code {
    CustEnquiry custEnquiry = new CustEnquiry();
    List<string> ETypeList = new List<string> { "Refund", "Product Fault", "Product Availability" };
    private async Task CreateCustEnquiry()
    {
        await _client.PostAsJsonAsync("api/custenquiries", custEnquiry);
        _navManager.NavigateTo("/custenquiries/");
    }
}