@page "/custEnquiries/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">View Customer Enquiry</h3>

<FormComponent custEnquiry="custEnquiry" Disabled="true"/>

@code {

	[Parameter] public int id { get; set; }
	CustEnquiry? custEnquiry = new CustEnquiry();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		custEnquiry = await _client.GetFromJsonAsync<CustEnquiry>($"{Endpoints.CustEnquiriesEndpoint}/{id}");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
