@page "/about"
@inject NavigationManager Navigation

<h3>About</h3>

<ul class="navbar-nav ms-auto">
    <li> <a href="/custEnquiries/">CustomerEnquires</a></li>
    <li> <a href="/customers/">Customer</a></li>
    <li> <a href="/custorders/">CustomerOrder</a></li>
    <li> <a href="/custOrderItems/">CustomerOrderItem</a></li>
    <li> <a href="/enterprises/">Enterprises</a></li>
    <li> <a href="/payments/">Payment</a></li>
    <li> <a href="/producthardwares/">Hardware</a></li>
    <li> <a href="/productsoftwares/">Software</a></li>
    <li> <a href="/staffs/">staff</a></li>
    <li> <a href="/support">Support</a></li>
    <li> <a href="/store/">Store</a></li>
</ul>

