@page "/otherPages"
@inject NavigationManager Navigation
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3>About</h3>

<ul class="navbar-nav ms-auto">
    <li> <a href="/custEnquiries/">CustomerEnquires</a></li>
    <li> <a href="/customers/">Customer</a></li>
    <li> <a href="/custorders/">CustomerOrder</a></li>
    <li> <a href="/custOrderItems/">CustomerOrderItem</a></li>
    <li> <a href="/enterprises/">Enterprises</a></li>
    <li> <a href="/payments/">Payment</a></li>
    <li> <a href="/producthardwares/">Hardware Products</a></li>
    <li> <a href="/productsoftwares/">Software Products</a></li>
    <li> <a href="/staffs/">staff</a></li>
</ul>

@code{

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }

}