@page "/otherPages/"
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<div class="container-fluid">
    <div class="row justify-content-center pt-3">
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/custEnquiries/" Match="NavLinkMatch.All">
                    Customer Enquiries
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/customers/" Match="NavLinkMatch.All">
                    Customers
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/custOrders/" Match="NavLinkMatch.All">
                    Customer Orders
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/custOrderItems/" Match="NavLinkMatch.All">
                    CO Items
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/enterprises/" Match="NavLinkMatch.All">
                    Enterprises
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/payments/" Match="NavLinkMatch.All">
                    Payments
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/producthardwares/" Match="NavLinkMatch.All">
                    Hardware Products
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/productsoftwares/" Match="NavLinkMatch.All">
                    Software Products
                </NavLink>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="text-center">
                <NavLink class="btn btn-outline-store" href="/staffs/" Match="NavLinkMatch.All">
                    Staff
                </NavLink>
            </div>
        </div>
    </div>
</div>
<hr>

@code {

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }

    protected override void OnInitialized()
    {
        if (_navManager.Uri.EndsWith("/otherPages/"))
        {
            _navManager.NavigateTo("/custEnquiries/");
        }
    }
}