@page "/custOrderItems/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">View Customer Order Item</h3>

<FormComponentItem custOrderItem="custOrderItem" Disabled="true" />

@code {

	[Parameter] public int id { get; set; }
	CustOrderItem? custOrderItem = new CustOrderItem();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		custOrderItem = await _client.GetFromJsonAsync<CustOrderItem>($"{Endpoints.CustOrderItemsEndpoint}/{id}");
	}
	
	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
