@page "/support/custOrder"
@inject HttpClient _client
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@attribute [Authorize]

@if(currCustOrders.Count == 0)
{
	<div class="alert alert-info">No Order History</div>
}
else
{
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<tbody>
						@foreach(var currCustOrder in currCustOrders)
						{
							<tr>
								<td>
									<a href="/support/custOrder/@currCustOrder.Id" class="btn btn-primary btn-block rowBtn">Order #@currCustOrder.Id @currCustOrder.OrderDateTime</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
<div class="pb-5">
	<p></p>
</div>

@code {
	private List<Customer>? customers;
	private List<CustOrder>? custOrders;
	private List<CustOrder>? currCustOrders = new List<CustOrder>();
	private int CustId;

	protected async override Task OnInitializedAsync()
	{
		customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
		custOrders = await _client.GetFromJsonAsync<List<CustOrder>>($"{Endpoints.CustOrdersEndpoint}");

		var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
		var user = authstate.User;
		var name = user.Identity.Name;

		foreach (var customer in customers)
		{
			if (customer.Email == name)
			{
				CustId = customer.Id;
			}
		}

		if(custOrders != null)
		{
			foreach(var custOrder in custOrders)
			{
				if(custOrder.CustomerId == CustId)
				{
					currCustOrders.Add(custOrder);
				}
			}	
		}
	}
}
