@page "/support/custOrder/{id:int}"
@inject HttpClient _client
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@attribute [Authorize]

<h3 style="padding-top:1rem;" class=" card-title text-center p-5 mt-1">Select The Product</h3>
<div class="border-top px-2 mx-2 pb-1" style="background-color:#1ABC9C;"></div>

@if(@currCustOrderItems.Count == 0)
{
	<div class="alert alert-info pt-4">Loading Order Items...</div>
}
else
{
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-12">
				<table class="table">
					<tbody>
						@foreach (var currCustOrderItem in currCustOrderItems)
						{
							<tr>
								<td>
									@if (currCustOrderItem.ProductSoftwareId == null)
									{
										<a href="/support/custEnquiry/@currCustOrderItem.Id" class="btn btn-primary btn-block rowBtn">@currCustOrderItem.ProductHardware.hTitle</a>
									}
									else
									{
										<a href="/support/custEnquiry/@currCustOrderItem.Id" class="btn btn-primary btn-block rowBtn">@currCustOrderItem.ProductSoftware.sTitle</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}

@code {

	[Parameter] public int id { get; set; }
	private List<CustOrderItem>? custOrderItems;
	private List<CustOrderItem>? currCustOrderItems = new List<CustOrderItem>();

	protected async override Task OnParametersSetAsync()
	{
		custOrderItems = await _client.GetFromJsonAsync<List<CustOrderItem>>($"{Endpoints.CustOrderItemsEndpoint}");

		foreach (var custOrderItem in custOrderItems)
		{
			if (custOrderItem.CustOrderId == id) {
				currCustOrderItems.Add(custOrderItem);
			}
		}
	}
}
