@page "/support"

<h3 style="padding-top:1rem;" class=" card-title text-center p-5">What can we help you with today?</h3>

<div class="container pb-5" >
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/support/custOrder" class="btn btn-primary btn-block rowBtn">Purchases</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/support/viewReq" class="btn btn-primary btn-block rowBtn">View my Support request</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
