@page "/support"
<h3>Support</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/support/purchases" class="btn btn-primary btn-block rowBtn">Purchases</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-primary btn-block rowBtn">Submit Ticket</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-primary btn-block rowBtn">Submit Ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
