@page "/support/hardware"
@inject HttpClient _client
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h3>SupportHardware</h3>

@code {
	private List<Customer>? customers;
	private List<CustOrder>? custOrders;
	private List<CustOrder>? currCustOrders = new List<CustOrder>(); 
	private List<CustOrderItem>? custOrderItems;
	private int CustId;

	protected async override Task OnInitializedAsync()
	{
		customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
		custOrders = await _client.GetFromJsonAsync<List<CustOrder>>($"{Endpoints.CustOrdersEndpoint}");
		custOrderItems = await _client.GetFromJsonAsync<List<CustOrderItem>>($"{Endpoints.CustOrderItemsEndpoint}");

		var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
		var user = authstate.User;
		var name = user.Identity.Name;

		foreach (var customer in customers)
		{
			if (customer.Email == name)
			{
				CustId = customer.Id;
			}
		}

		if(custOrders != null)
		{
			foreach(var custOrder in custOrders)
			{
				if(custOrder.CustomerId == CustId)
				{
					
				}
			}	
		}
	}
}
