@page "/support"
<h3>Support</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/support/software" class="btn btn-primary btn-block rowBtn">Games, Softwares</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/support/hardware" class="btn btn-primary btn-block rowBtn">Hardware, Accessories</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/support/viewReq" class="btn btn-primary btn-block rowBtn">View my Support request</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
