@page "/custorders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Create New Customer Order</h3>
<hr />
<br />

<FormComponent ButtonText="Create Customer Order" OnValidSubmit="CreateCustOrder" custOrder="custOrder" />

@code {
    CustOrder custOrder = new CustOrder();

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
    }

    private async Task CreateCustOrder()
    {
        await _client.PostAsJsonAsync(Endpoints.CustOrdersEndpoint, custOrder);
        _navManager.NavigateTo("/custorders/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}