@page "/custorders/"
@inject HttpClient _client
@inject IJSRuntime js
@inject HttpInterceptorService _interceptor
@implements IDisposable
@attribute [Authorize]

<h3 style="padding-top:1rem;" class=" card-title text-center p-5 mt-1">Admin View Page</h3>
<div class="border-top px-2 mx-2 pb-1" style="background-color:#1ABC9C;"></div>

<OtherPages />

<a href="/custorders/create" class="btn btn-secondary">
	<span class="oi oi-plus"></span>
	Create New Customer Order
</a>
<br />
<br />
<h3 class="card-title">CustOrder</h3>

@if (CustOrders == null)
{
	<div class="alert alert-info">Loading CustOrder...</div>
}
else
{
	<table class="table table-responsive" id="custOrderTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var custorder in CustOrders)
			{
				<tr>
					<td>@custorder.Customer.FirstName</td>
					<td>@custorder.OrderDateTime</td>
					<td>
						<a href="/custorders/view/@custorder.Id" class="btn btn-primary">
							<span class="oi oi-book"></span>
						</a>
						<a href="/custorders/edit/@custorder.Id" class="btn btn-warning">
							<span class="oi oi-pencil"></span>
						</a>
						<button class="btn btn-danger" @onclick="@(()=>Delete(custorder.Id))">
							<span class="oi oi-delete"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<CustOrder>? CustOrders;

	protected async override Task OnInitializedAsync()
	{
		_interceptor.MonitorEvent();
		CustOrders = await _client.GetFromJsonAsync<List<CustOrder>>($"{Endpoints.CustOrdersEndpoint}");
	}

	async Task Delete(int CustOrderId)
	{
		if (CustOrders != null)
		{
			var custorder = CustOrders.First(q => q.Id == CustOrderId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {custorder.Id}?");
			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.CustOrdersEndpoint}/{CustOrderId}");
				await OnInitializedAsync();
			}
		}
	}

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		await js.InvokeVoidAsync("AddDataTable", "#custOrderTable");
	}

	public void Dispose()
	{
		js.InvokeVoidAsync("DataTablesDispose", "#custOrderTable");
		_interceptor.DisposeEvent();
	}
}
