@page "/custOrders/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">View Customer Order</h3>

<FormComponent custOrder="custOrder" Disabled="true" />

@code {

	[Parameter] public int id { get; set; }
	CustOrder? custOrder = new CustOrder();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		custOrder = await _client.GetFromJsonAsync<CustOrder>($"{Endpoints.CustOrdersEndpoint}/{id}");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}

}
