@page "/enterprises/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Create New Enterprise</h3>
<hr />
<br />

<FormComponent ButtonText="Create Enterprise" OnValidSubmit="CreateEnterprise" enterprise="enterprise" />

@code {
    Enterprise enterprise = new Enterprise();
  
    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
    }

    private async Task CreateEnterprise()
    {
        await _client.PostAsJsonAsync(Endpoints.EnterprisesEndpoint, enterprise);
        _navManager.NavigateTo("/enterprises/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}