@page "/enterpises/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Edit Enterprise</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditEnterprise" enterprise="enterprise" />

@code {

	[Parameter] public int id { get; set; }
	Enterprise? enterprise = new Enterprise();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		enterprise = await _client.GetFromJsonAsync<Enterprise>($"{Endpoints.EnterprisesEndpoint}/{id}");
	}

	async Task EditEnterprise()
	{
		await _client.PutAsJsonAsync($"{Endpoints.EnterprisesEndpoint}/{id}", enterprise);
		_navManager.NavigateTo("/enterprises/");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
