@page "/enterpises/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">View Enterprise</h3>

<FormComponent enterprise="enterprise" Disabled="true" />

@code {

	[Parameter] public int id { get; set; }
	Enterprise? enterprise = new Enterprise();

	protected async override Task OnParametersSetAsync()
	{
		_interceptor.MonitorEvent();
		enterprise = await _client.GetFromJsonAsync<Enterprise>($"{Endpoints.EnterprisesEndpoint}/{id}");
	}

	public void Dispose()
	{
		_interceptor.DisposeEvent();
	}
}
